<!DOCTYPE HTML>


<head>

  <title>Home</title>
  <script src="notes.js"></script>
  <link rel="stylesheet" href="base.css"> <!-- Sizing of stuff. -->
  <link rel="stylesheet" href="pine.css"> <!-- Pretty colors! -->

  <link rel="icon" type="image/x-icon" href="resources/favicon.ico">

</head>


<body onload="display_saved_note()">

  <div id="main">
    <h1>Welcome.</h1>
    <table cellspacing="10">
      <tbody>
        <tr v-for="section in sections">
          <th context="row">{{ section.name }}</th>
          <td>
            [
            <span v-for="(site, index) in section.sites">
              <a :href="site.url">{{ site.name }}</a>
              <span v-if="index == section.sites.length - 1">]</span>
              <span v-else>/ </span>
            </span>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="notes">
      <textarea id="notetest" rows="20" cols="50" wrap="hard"></textarea>
  </div>
  <div class="feedgrabbr_widget" id="fgid_d17b40f10fc3c7996c84ed2b6"></div>
  <script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_d17b40f10fc3c7996c84ed2b6");</script>
  <script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
  <script src="resources/vue.js"></script>
  <script src="app.js"></script>

</body>
